.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    min-height: 400px;
    border-bottom: 1px ridge;
    margin: 0px auto;
    padding: 50px 0px;
}


.jumbotron {
    background-color: #9575CD;
    color: floralwhite;
    padding: 70px 30px;
    margin:0px auto;
}


.footer {
    background-color: #D1C4E9;
    padding: 20px 0px;
    
}

address {
    font-size: 80%;
    margin: 0px;

}


.navbar-dark {
    background-color:#512DA8;
    color: floralwhite;
}

body {
    padding-top: 50px;
}

.breadcrumb {
    background: white;
}