---
layout: main
---
<article class="article-page">
  <div class="page-content">
    <div class="page-cover-image">
      <img class="page-image" src={{ "/assets/img/cover/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
    </div> <!-- End Page Cover Image -->
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>           </div>
      </header>
      {{page.content | markdownify}}
        
        
      <div class="page-footer">

            <!-- Tag -->

            <div class="page-tag">
              {% for tag in page.tags %}
                <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
              {% endfor %}
            </div>
        </div>
        
        
<!--
        <div class="related">     
            <h3>相关博客文章</h3>
                {% for post in site.posts %}
                  {% if post.description == page.description and post.title <> page.title %}
                      <a href="{{ post.url }}">
                          <h4>{{ post.title }}</h4>
                      </a>
                  {% endif %}
                {% endfor %}
        </div>
-->
                
        
        
<!--      {% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
